<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #035C67;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }


  .info-text {
  font-size: 10px;
  color: #666;
  margin-top: 10px;
}

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<p>
  <mat-toolbar class="tool_bar">
    <a href="https://onit.gt">
      <img src="./../assets/ONIT_LOGO-02 BLANCO.png" alt="Icono Contratos" class="icono" width="127">
    </a>
    <span></span>
  </mat-toolbar>
</p>
<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
       <mat-card-title>Por favor, completar lo siguiente:</mat-card-title> 
       <!--  <mat-card-subtitle
          >Check the
          <code class=""
            ><a href="https://material.angular.io/components/stepper/overview"
              >link</a
            ></code
          >
        </mat-card-subtitle> -->
      
        <mat-horizontal-stepper  #stepper>
          
          <mat-step [stepControl]="firstFormGroup"  errorMessage= "Elige un edificio">
            <h3>
             Selecciona tu edificio.
            </h3>
           <div class="separador"></div>
            <form [formGroup]="firstFormGroup">
              <mat-radio-group (change)="nextStep()" color="accent" class="center-radio-group" formControlName="tipo_proyecto" >
              <!--   <mat-radio-button  value="BARRIO 5" style="margin-right: 20px;">
                  <img src="./../assets/BARRIO 5.jpg" alt="Image Radio Button" width="200" height="200">
                  <span>Barrio 5</span>
                </mat-radio-button> -->
          
             <!--    <mat-radio-button value="BARRIO DON BOSCO" style="margin-right: 20px;">
                  <img src="./../assets/BARRIO DON BOSCO.jpg" alt="Image Radio Button" width="200" height="200">
                  <span>Barrio Don Bosco</span>
                </mat-radio-button> -->

               <mat-radio-button value="VILLA LUZ" style="margin-right: 10px;"> 
                  <img src="./../assets/villa1.jpg" alt="Image Radio Button" width="200" height="200">
                  <span>Villa Luz</span>
                </mat-radio-button> 

                <mat-radio-button value="GEMINIS 10" style="margin-right: 10px;"> 
                  <img src="./../assets/geminis2.jpg" alt="Image Radio Button" width="200" height="200">
                  <span>Geminis 10 </span>
                </mat-radio-button> 

                <mat-radio-button value="VIVO 4" style="margin-right: 10px;">
                  <img src="./../assets/VIVO ZONA 4.jpg" alt="Image Radio Button" width="200" height="200">
                  <span>Vivo Zona 4</span>
                </mat-radio-button>

                <mat-radio-button value="VIAGGIO" style="margin-right: 10px;">
                  <img src="./../assets/VIAGGIO MUXBAL.jpg" alt="Image Radio Button" width="200" height="200">
                  <span>Viaggio Muxbal</span>
                </mat-radio-button>
                
                <mat-radio-button value="CENTRO VIVO" style="margin-right: 10px;">
                  <img src="./../assets/CENTRO VIVO.png" alt="Image Radio Button" width="200" height="200">
                  <span>Centro Vivo</span>
                </mat-radio-button>

                <mat-radio-button value="NOVEM" style="margin-right: 10px;">
                  <img src="./../assets/NOVEM.png" alt="Image Radio Button" width="200" height="200">
                  <span>NOVEM</span>
                </mat-radio-button>

              </mat-radio-group>

              
          
              <div class="center-radio-group">
            <!--     <button class="boton" mat-button matStepperNext>Next</button> -->
              </div>
            </form>
          </mat-step>


          <mat-step [stepControl]="secondFormGroup"  errorMessage="Completa lo solicitado">
            <form [formGroup]="secondFormGroup">
             
              <h3>
                ¿ En qué torre te encuentras?
              </h3>
              <div class="separador"></div>
             <!--  <mat-radio-group class="center-radio-group" (change)="nextStep()" formControlName="torre">
                <mat-radio-button value="1"  style="margin-right: 20px;">
                  <img src="./../assets/ICONO TORRE ÚNICA.png" alt="Image Radio Button" width="200" height="200">
                  <span>Torre 1</span>
                </mat-radio-button>
      
                <mat-radio-button value="2">
                  <img src="./../assets/ICONO TORRE.png" alt="Image Radio Button" width="200" height="200">
                  <span>Torre 2</span>
                </mat-radio-button>
              
              </mat-radio-group> -->
              <mat-form-field appearance="fill" class="centered-select custom-select" formControlName="torre">
                <mat-label>Selecciona una torre</mat-label>
                <mat-select [ngModel]="selectedValue" formControlName="torre" [disabled]="torreSelect">
                  <mat-option *ngFor="let torre of torresOptions" [value]="torre.value" [disabled]="torreSelect && torre.value !== 'UNICA'">{{ torre.label }}</mat-option>
             
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col centered-select">
                <input matInput placeholder="No. Apartamento u Oficina" formControlName="numero_apartamento">
              </mat-form-field>
              
              <div class="d-flex justify-content-between">
                <button class="mat-stroked-button"  style="margin-right: 20px;" mat-button matStepperPrevious>
                  <mat-icon>keyboard_arrow_left</mat-icon>
                  Volver
                </button>
                <button mat-button matStepperNext class="align-self-end float-right mat-stroked-button">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                  Siguiente
                </button>
              </div>
            </form>
          </mat-step>

          
          <mat-step [stepControl]="thirdFormGroup" *ngIf="isBuildingSelected()" errorMessage="Elige una opción"><!-- 
            <ng-template matStepLabel>Tipo de Contratante</ng-template> -->
            <form [formGroup]="thirdFormGroup">
            <h3>
              ¿ Qué tipo de contratante eres ?
            </h3>
            <div class="separador"></div>
            <mat-radio-group class="center-radio-group"  (change)="nextStep()" formControlName="tipo_apartamento">
              <mat-radio-button value="RENTA"  style="margin-right: 20px;" class="separador-img">
                <img src="./../assets/ICONO RENTA.png" alt="Image Radio Button" width="200" height="200">
                <span>Renta</span>
                <mat-list role="list" >
                <mat-list-item role="listitem" class="small-text" >
                  <mat-icon style="color: #035C67;" class="check" >task_alt</mat-icon>
                    Telecomunicaciones
                </mat-list-item>
                <mat-list-item role="listitem" class="small-text" >
                  <mat-icon style="color: #98989a;">cancel</mat-icon>
                  Energía Eléctrica
                </mat-list-item>
                <mat-list-item role="listitem" class="small-text" >
                  <mat-icon style="color: #98989a;">cancel</mat-icon>
                  Agua
                </mat-list-item>
              </mat-list>
              </mat-radio-button>
    
              <mat-radio-button value="RENTA CON OPCION DE COMPRA" style="margin-right: 20px;" class="separador-img">
                <img src="./../assets/ICONO RENTA-COMPRA.png" alt="Image Radio Button" width="150" height="150">
                <span>Renta-Compra</span>
                <mat-list role="list" >
                  <mat-list-item role="listitem" class="small-text" >
                    <mat-icon style="color: #035C67;">task_alt</mat-icon>
                    Telecomunicaciones
                  </mat-list-item>
                  <mat-list-item role="listitem" class="small-text" >
                    <mat-icon [style.color]="EnergiaIconColor">{{EnergiaIcon}}</mat-icon>
                    Energía Eléctrica
                  </mat-list-item>
                  <mat-list-item role="listitem" class="small-text" >
                    <mat-icon [style.color]="aguaIconColor">{{aguaIcon}}</mat-icon>
                    Agua
                  </mat-list-item>
                </mat-list>
              </mat-radio-button>

              <mat-radio-button value="PROPIETARIO">
                <img src="./../assets/ICONO PROPIETARIO.png" alt="Image Radio Button" width="200" height="200">
                <span>Propietario</span>
                <mat-list role="list" >
                  <mat-list-item role="listitem" class="small-text" >
                    <mat-icon style="color: #035C67;">task_alt</mat-icon>
                    Telecomunicaciones
                  </mat-list-item>
                  <mat-list-item role="listitem" class="small-text" >
                    <mat-icon [style.color]="EnergiaIconColor">{{EnergiaIcon}}</mat-icon>
                    Energía Eléctrica
                  </mat-list-item>
                  <mat-list-item role="listitem" class="small-text" >
                    <mat-icon [style.color]="aguaIconColor">{{aguaIcon}}</mat-icon>
                    Agua
                  </mat-list-item>
                </mat-list>
              </mat-radio-button>
            </mat-radio-group>
            <h4></h4>
            <div>
              <button class="mat-stroked-button" mat-button matStepperPrevious>
                <mat-icon>keyboard_arrow_left</mat-icon>
              Volver
              </button>
          <!--     <button class="boton" mat-button matStepperNext>Next</button> -->
            <!--   <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>
          </form>
          </mat-step>


          <mat-step [stepControl]="fourthFormGroup"   *ngIf="isContractTypeSelected()" [completed]="isServiceSelected()">
            <form [formGroup]="fourthFormGroup">
              <h3>
                ¿ Qué servicios necesitas ?
              </h3>
              <div class="separador"></div>
              <div class="checkbox-container">
                <div *ngIf="selectedTipo !== 'RENTA' && selectedValue !== 'CENTRO VIVO' && selectedValue !== 'NOVEM'">
                  <mat-checkbox labelPosition="after" class="center-radio-group" formControlName="energia">
                    <div class="checkbox-content">
                      <img src="./../assets/ICONO ENERGIA.png" alt="Imagen del checkbox" width="100" height="100">
                      <span>Energia</span>
                    </div>
                  </mat-checkbox>
                </div>
                <mat-checkbox labelPosition="after" class="center-radio-group" formControlName="internet">
                  <div class="checkbox-content">
                    <img src="./../assets/ICONO INTERNET.png" alt="Imagen del checkbox" width="110" height="100">
                    <span>Telecomunicaciones</span>
                  </div>
                </mat-checkbox>
                <div *ngIf="selectedValue !== 'VIAGGIO' && selectedTipo !== 'RENTA' && selectedValue !== 'VILLA LUZ' && selectedValue !== 'CENTRO VIVO' && selectedValue !== 'NOVEM' ">
                  <mat-checkbox labelPosition="after" class="center-radio-group" formControlName="agua">
                    <div class="checkbox-content">
                      <img src="./../assets/ICONO AGUA.png" alt="Imagen del checkbox" width="100" height="100">
                      <span>Transporte de Agua</span>
                    </div>
                  </mat-checkbox>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <button class="mat-stroked-button"  style="margin-right: 20px;" mat-button matStepperPrevious>
                  <mat-icon>keyboard_arrow_left</mat-icon>
                  Volver
                </button>
                <button mat-button matStepperNext class="align-self-end float-right mat-stroked-button">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                  Siguiente
                </button>
              </div>
            </form>
          </mat-step>
          
          <mat-step [stepControl]="formServicio" *ngIf="fourthFormGroup?.get('internet')?.value">
            <ng-template matStepLabel></ng-template>
            <form [formGroup]="formServicio" >
              <ng-template matStepLabel></ng-template>
              <div class="columna">
                <h3>Elige un plan de telecomunicación</h3>
              </div>
              <mat-radio-group formControlName="tipo_servicio" class="visible">
                <div class="options-container">
                  <!-- Opción Simétrico -->
                  <div class="option">
                    <mat-radio-button value="simetrico" class="radio-option"  [disabled]="true">
                      <img src="../assets/SIMÉTRICO.svg" alt="Simétrico" class="option-image"/>
                      <div class="option-label">Simétrico</div>
                    </mat-radio-button>
                    <table class="table">
                      <mat-radio-group formControlName="tabla1" class="visible" >
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="20"  (change)="onRadioGroupChange('simetrico','20','tabla1')"></mat-radio-button>
                          </td>
                          <td>20 Mbps</td>
                          <td>$. 90.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="30" (change)="onRadioGroupChange('simetrico','30','tabla1')"></mat-radio-button>
                          </td>
                          <td>30 Mbps</td>
                          <td>$. 110.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="50" (change)="onRadioGroupChange('simetrico','50','tabla1')"></mat-radio-button>
                          </td>
                          <td>50 Mbps</td>
                          <td>$. 130.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="100"  (change)="onRadioGroupChange('simetrico','100','tabla1')"></mat-radio-button>
                          </td>
                          <td>100 Mbps</td>
                          <td>$. 250.00</td>
                        </tr>
                      </mat-radio-group>
                    </table>
                    <p class="info-text">Ejemplo: Al adquirir un plan de 30 MB,<br>
                       tendrás la misma cantidad<br>tanto para la descarga <br>
                       como para la carga de datos.</p>
                  </div>
                  <!-- Opción FTTH PLUS -->
                  <div class="option">
                    <mat-radio-button value="burst" class="radio-option"  [disabled]="true">
                      <img src="../assets/FTTH PLUS.svg" alt="FTTH PLUS" class="option-image"/>
                      <div class="option-label">FTTH PLUS</div>
                    </mat-radio-button>
                    <table class="table">
                      <mat-radio-group formControlName="tabla2" class="visible" >
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="30"  (change)="onRadioGroupChange('burst','30','tabla2')"></mat-radio-button>
                          </td>
                          <td>30 Mbps</td>
                          <td>Q. 299.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="50" (change)="onRadioGroupChange('burst','50','tabla2')"></mat-radio-button>
                          </td>
                          <td>50 Mbps</td>
                          <td>Q. 349.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="100" (change)="onRadioGroupChange('burst','100','tabla2')"></mat-radio-button>
                          </td>
                          <td>100 Mbps</td>
                          <td>Q. 429.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="200" (change)="onRadioGroupChange('burst','200','tabla2')" ></mat-radio-button>
                          </td>
                          <td>200 Mbps</td>
                          <td>Q. 599.00</td>
                        </tr>
                      </mat-radio-group>
                    </table>
                    <p class="info-text">*Ejemplo: Al adquirir<br> un plan de 30 MB<br>
                      , tendrás 30 MB para la descarga<br>
                      y un 30% en la carga.</p>
                  </div>
                  <!-- Opción Básico -->
                  <div class="option">
                    <mat-radio-button value="basico" class="radio-option" [disabled]="true" >
                      <img src="../assets/BÁSICO.svg" alt="Básico" class="option-image"/>
                      <div class="option-label">Básico</div>
                    </mat-radio-button>
                    <table class="table">
                      <mat-radio-group formControlName="tabla0" class="visible" >
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="30" (change)="onRadioGroupChange('basico','30','tabla0')"></mat-radio-button>
                          </td>
                          <td>50 Mbps</td>
                          <td>Q. 199.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="50" (change)="onRadioGroupChange('basico','50','tabla0')"></mat-radio-button>
                          </td>
                          <td>75 Mbps</td>
                          <td>Q. 249.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="100" (change)="onRadioGroupChange('basico','100','tabla0')"></mat-radio-button>
                          </td>
                          <td>150 Mbps</td>
                          <td>Q. 329.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="200" (change)="onRadioGroupChange('basico','200','tabla0')"></mat-radio-button>
                          </td>
                          <td>250 Mbps</td>
                          <td>Q. 529.00</td>
                        </tr>
                      </mat-radio-group>
                    </table>
                    <p class="info-text">*Ejemplo: Al adquirir un plan<br>
                      de 50 MB, tendrás 50 MB para la<br>
                      descarga y un 10% en la carga.</p>
                   
                  </div>
                </div>
              </mat-radio-group>
              
              
              
              
                <div class="separador"></div>
            
          
              <div class="separador"></div>
              <div class="separador"></div>
              <div class="separador"></div>
              
              
              <div class="d-flex flex-column justify-content-center align-items-baseline facturacion-title">
            
              </div>


              <h3>¿Desea agregar servicio de telefonía?</h3>
              <div class="separador"></div>
              <div class="columna">
                <div style="text-align: center;">
                  <img src="./../assets/ICONO TELEFONIA.png" alt="Imagen de teléfono" width="150" height="150"> <!-- Aquí agregas la URL de la imagen -->
                </div>
              </div>

              <div class="columna" >
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <div style="text-align: center;">
                    <table class="table">
                      <tr>
                        <td colspan="3"></td>
                      </tr>
                      <mat-radio-group class="visible" formControlName="tabla4">
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="200"></mat-radio-button>
                          </td>
                          <td>200 minutos locales</td>
                          <td>Q. 28.00</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-radio-button class="mr-1" value="500"></mat-radio-button>
                          </td>
                          <td>500 minutos locales</td>
                          <td>Q. 55.00</td>
                        </tr>
                      </mat-radio-group>
                    </table>
                   
                  </div>
                  <div class="separador"></div>
                  <div style="text-align: center;">
                    <p style="font-size: 18px; font-weight: bold; color: #035C67;"> - Hay un cargo adicional de Q. 299.00 por el servicio de instalación del equipo de telefonía.</p>
                    <p style="font-size: 18px; font-weight: bold; color: #035C67;"> - El minuto adicional local tiene un costo extra de Q. 0.49 </p>
                  </div>
                </div>
              </div>
              
              
              <div class="separador"></div>
              <div class="d-flex justify-content-between">
                <button class="mat-stroked-button"  style="margin-right: 20px;" mat-button matStepperPrevious>
                  <mat-icon>keyboard_arrow_left</mat-icon>
                  Volver
                </button>
                <button mat-button matStepperNext class="align-self-end float-right mat-stroked-button">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                  Siguiente
                </button>
              </div>
             
            </form>
          </mat-step>
          <!-- empieza el nuevo  -->

          
          <div class="options-container">
            <!-- Opción Por Consumo -->
            <div class="option">
              <mat-radio-button value="simetrico" class="radio-option">
                <img src="../assets/SIMÉTRICO.svg" alt="Por Consumo" class="option-image"/>
                <div class="option-label">Simetrico</div>
              </mat-radio-button>
              
              <table class="table">
                
              <mat-radio-group  class="visible" formControlName="tabla1">
                <!-- <tr>
                  <td>
                    <mat-radio-button class="mr-1" value="10"></mat-radio-button>
                  </td>
                  <td>10 Mbps</td>
                  <td>Q. 239.00</td>
                </tr> -->
                <tr>
                  <td>
                    <mat-radio-button class="mr-1" value="20"></mat-radio-button>
                  </td>
                  <td>20 Mbps</td>
                  <td>$. 90.00</td>
                </tr>
                <tr>
                  <td>
                    <mat-radio-button class="mr-1" value="30"></mat-radio-button>
                  </td>
                  <td>30 Mbps</td>
                  <td>$. 110.00</td>
                </tr>
                <tr>
                  <td>
                    <mat-radio-button class="mr-1" value="50"></mat-radio-button>
                  </td>
                  <td>50 Mbps</td>
                  <td>$. 130.00</td>
                </tr>
                <tr>
                  <td>
                    <mat-radio-button class="mr-1" value="100"></mat-radio-button>
                  </td>
                  <td>100 Mbps</td>
                  <td>$. 250.00</td>
                </tr>
                </mat-radio-group>
              </table>
              
            </div>
      
            <!-- Opción Media Paja de Agua -->
            <div class="option">
              <mat-radio-button value="opcion2" class="radio-option">
                <img src="../assets/ICONO AGUA CONSUMO.png" alt="Media Paja de Agua" class="option-image"/>
                <div class="option-label">Media Paja de Agua</div>
              </mat-radio-button>
             
                <table class="tables">
                  <tr>
                    <td></td>
                    <td style="font-weight: bold; color: #035C67;">Cargo Fijo:</td>
                    <td>Q. 150.00</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td style="font-weight: bold; color: #035C67;">mt<sup>3</sup> Incluidos:</td>
                    <td>30 mt<sup>3</sup> mensuales</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td style="font-weight: bold; color: #035C67;">mt<sup>3</sup> por consumo:</td>
                    <td>Q. 11.50</td>
                  </tr>
                </table>
              
            </div>
          </div>



          <!-- aqui empieza el agua -->
       <mat-step [stepControl]="formServicioAgua" *ngIf="fourthFormGroup?.get('agua')?.value">
  <ng-template matStepLabel></ng-template>
  <form [formGroup]="formServicioAgua">
    <div class="separador"></div>
    <div class="row">
      <div class="columna">
        <h3>Elige un plan para transporte de agua residencial </h3>
        <br>
        
      </div>
      

    </div>
    <div class="separador"></div>

    <mat-radio-group class="visible" formControlName="servicio_agua">
      <div class="options-container">
        <!-- Opción Por Consumo -->
        <div class="option">
          <mat-radio-button value="opcion1" class="radio-option">
            <img src="../assets/ICONO AGUA CONSUMO.png" alt="Por Consumo" class="option-image"/>
            <div class="option-label">Por Consumo</div>
          </mat-radio-button>

          <table class="tables">
            <tr>
              
              <td style="font-weight: bold; color: #035C67;">Cargo Fijo:</td>
              <td>Q. 50.00</td>
            </tr>
            <tr>
              
              <td style="font-weight: bold; color: #035C67;">mt<sup>3</sup> Incluidos:</td>
              <td>0 mt<sup>3</sup> mensuales</td>
            </tr>
            <tr>
             
              <td style="font-weight: bold; color: #035C67;">mt<sup>3</sup> por consumo:</td>
              <td>Q. 7.50</td>
            </tr>
          </table>
        </div>

        <!-- Opción Media Paja de Agua -->
        <div class="option">
          <mat-radio-button value="opcion2" class="radio-option">
            <img src="../assets/ICONO AGUA CONSUMO.png" alt="Media Paja de Agua" class="option-image"/>
            <div class="option-label">Media Paja de Agua</div>
          </mat-radio-button>

          <table class="tables">
            <tr>
              
              <td style="font-weight: bold; color: #035C67;">Cargo Fijo:</td>
              <td>Q. 150.00</td>
            </tr>
            <tr>
              
              <td style="font-weight: bold; color: #035C67;">mt<sup>3</sup> Incluidos:</td>
              <td>30 mt<sup>3</sup> mensuales</td>
            </tr>
            <tr>
              
              <td style="font-weight: bold; color: #035C67;">mt<sup>3</sup> por consumo:</td>
              <td>Q. 11.50</td>
            </tr>
          </table>
        </div>
      </div>
    </mat-radio-group>

    <div class="separador"></div>

    <div class="d-flex justify-content-between">
      <button class="mat-stroked-button" style="margin-right: 20px;" mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>
        Volver
      </button>
      <button mat-button matStepperNext class="align-self-end float-right mat-stroked-button">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Siguiente
      </button>
    </div>
  </form>
</mat-step>

          

          <!-- aquiterminaelagua -->



          <div class="row">
            <div class="col">
              <mat-step [stepControl]="formSolicitante" *ngIf="isServiceSelected()">
            <form [formGroup]="formSolicitante">
              <ng-template matStepLabel></ng-template>
              <h3 class="facturacion-title">Datos del Solicitante</h3>
              <div class="row">
                
                <mat-form-field class="col">
                  <input matInput placeholder="Escriba Nombre Completo" formControlName="nombre">
                </mat-form-field>
                <mat-form-field class="col">
                  <input matInput placeholder="Escriba Correo Electrónico" formControlName="email">
                </mat-form-field>
    
                <mat-form-field class="col">
                  <mat-label>Seleccione Sexo</mat-label>
                  <mat-select placeholder="Seleccione Sexo" formControlName="sexo">
                    <ng-container *ngFor="let item of listSexos">
                      <mat-option [value]="item.codigo">
                        {{ item.descripcion }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
    
                <mat-form-field class="col">
                  <mat-label>Seleccione Nacionalidad</mat-label>
                  <mat-select placeholder="Seleccione Nacionalidad" formControlName="nacionalidad">
                    <ng-container *ngFor="let item of listTipoNacionalidades">
                      <mat-option [value]="item.codigo">
                        {{ item.descripcion }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
    
                <mat-form-field class="col">
                  <mat-label>Seleccione Tipo Documento</mat-label>
                  <mat-select placeholder="Seleccione Tipo Documento" formControlName="tipo_documento">
                    <ng-container *ngFor="let item of listTipoDocumentos">
                      <mat-option [value]="item.codigo">
                        {{ item.descripcion }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
    
                <mat-form-field class="col">
                  <input matInput placeholder="Escriba No. Identificación" formControlName="identificacion">
                </mat-form-field>
    
                <mat-form-field class="col">
                  <input matInput placeholder="Escriba su Edad (Años)" formControlName="edad">
                </mat-form-field>
                <mat-form-field class="col">
                  <input matInput placeholder="Escriba Nit (Sin Guiones)" formControlName="nit">
                </mat-form-field>
                <mat-form-field class="col">
                  <input matInput placeholder="Escriba No. Celular (Sin Guiones)" formControlName="celular">
                </mat-form-field>
                <mat-form-field class="col">
                  <mat-label>Seleccione Estado Civil</mat-label>
                  <mat-select placeholder="Seleccione Estado Civil" formControlName="estado_civil">
                    <ng-container *ngFor="let item of listEstadoCiviles">
                      <mat-option [value]="item.codigo">
                        {{ item.descripcion }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
    
                <mat-form-field class="col">
                  <mat-label>Fecha Traslado</mat-label>
                  <input
                    matInput
                    [matDatepicker]="pickerFecha"
                    formControlName="fecha_traslado"
                    placeholder="fecha_traslado"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerFecha"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerFecha></mat-datepicker>
                </mat-form-field>

                
              </div>
              <ng-container >
                <h3 class="facturacion-title">Datos de facturación</h3>
                <form [formGroup]="formFacturacion">
                  <div class="row">
                    <mat-form-field class="col">
                      <input matInput placeholder="Nombre de quien factura" formControlName="nombre_factura">
                    </mat-form-field>
                    <mat-form-field class="col">
                      <input matInput placeholder="Nit" formControlName="nit_factura">
                    </mat-form-field>
                   
                  </div>
                </form>
              </ng-container>
              <div class="d-flex justify-content-between">
          
                <div class="separador"></div>
                <button class="mat-stroked-button" style="margin-right: 20px;" mat-button matStepperPrevious>
                  <mat-icon>keyboard_arrow_left</mat-icon>
                  Volver
                </button>
                <button mat-button matStepperNext class="align-self-end float-right mat-stroked-button">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                  Siguiente
                </button>
              </div>
             
            </form>
          </mat-step>

          <mat-step >
            <form [formGroup]="formFinal">
            <div class="ng-template matStepLabel"></div>
            <h3 class="facturacion-title">Procesar contrato(s):</h3>
            <div class="row">
              <div class="col">
                Si ha completado de llenar la información lea las condiciones y proceda a Procesar Contrato.
              </div>
            </div>
            <div class="separador"></div>
            <div style="text-align: center;">
              <ul style="list-style-type: disc; text-align: left;">
                <li>El contrato deberá ser firmado con <strong style="color: #035C67;">lapicero azul.</strong></li>
                <li>Enviar una copia del contrato firmado al correo <strong style="color: #035C67;">ventas@onit.gt</strong></li>
               <div *ngIf="showEnergyInfo">
      <ul style="list-style-type: disc; text-align: left;">
        <li>Para activar su servicio de energía eléctrica, es necesario efectuar un depósito de Q400 destinado a la instalación del contador correspondiente. El pago debe realizarse mediante transferencia a la cuenta Monetaria del Banco Industrial <strong style="color: #035C67;">NO. 824-000676-0</strong> a nombre de <strong style="color: #035C67;">Hogares Inteligentes S.A.</strong> Posteriormente, se le entregará un recibo como confirmación una vez completada la transacción.</li>
        <li>Enviar una copia del contrato firmado y de la boleta de deposito al correo <strong style="color: #035C67;">ventas@onit.gt</strong></li>
      </ul>
    </div>
                
              </ul>
            </div>
            <div class="separador"></div>
            <div class="d-flex flex-column justify-content-center align-items-baseline facturacion-title">
              <mat-checkbox formControlName="termsAccepted" class="align-self-start" style="text-align: left;">He leído y acepto los términos y condiciones</mat-checkbox>
            </div>
            <div class="spinner-container" *ngIf="isLoading">
              <mat-spinner class="spinner-color"></mat-spinner>
            </div>
            <div class="botones-container d-flex flex-lg-row flex-column align-items-center my-2 my-lg-3 gap-2 gap-lg-3">
              <button mat-button class="mat-stroked-button" (click)="generarPDF()" [disabled]="formFinal.invalid">Descargar y enviar por correo</button>
              
            </div>
          </form>
          </mat-step>
          <mat-step *ngIf="pdfGenerated">
            <h3 class="facturacion-title">Recordatorio</h3>
            <div class="row">
             
            </div>
            <div class="separador"></div>
            <div style="text-align: center;">
              <ul style="list-style-type: disc; text-align: left;">
                <li>El contrato deberá ser firmado con <strong style="color: #035C67;">lapicero azul.</strong></li>
                <li>Enviar una copia del contrato firmado al correo <strong style="color: #035C67;">ventas@onit.gt</strong></li>
                <div *ngIf="showEnergyInfo">
                  <ul style="list-style-type: disc; text-align: left;">
                    <li>Para activar su servicio de energía eléctrica, es necesario efectuar un depósito de Q400 destinado a la instalación del contador correspondiente. El pago debe realizarse mediante transferencia a la cuenta Monetaria del Banco Industrial <strong style="color: #035C67;">NO. 824-000676-0</strong> a nombre de <strong style="color: #035C67;">Hogares Inteligentes S.A.</strong> Posteriormente, se le entregará un recibo como confirmación una vez completada la transacción.</li>
                    <li>Enviar una copia del contrato firmado y de la boleta de deposito al correo <strong style="color: #035C67;">ventas@onit.gt</strong></li>
                  </ul>
                </div>
                <li>La instalación de los servicios pueden tardar entre <strong style="color: #035C67;">24 a 48 horas en días habiles</strong>  después de haber enviado los contratos firmados y realizado el depósito.  </li>
              </ul>
            </div>
            <div class="button-container">
              <a mat-raised-button [href]="this.pdfUrl" *ngIf="this.pdfUrl !== ''"  target="_blank" style="background-color: #035C67; color: white;" class="button">
                <mat-icon>wifi</mat-icon>
                <span>Telecomunicaciones</span>
              </a>
            
              <a mat-raised-button [href]="this.pdfUrlAgua"  *ngIf="this.pdfUrlAgua !== ''" target="_blank" style="background-color: #035C67; color: white;"  class="button">
                <mat-icon>water_drop</mat-icon>
                <span>Trasporte de Agua</span>
              </a>
            
              <a mat-raised-button [href]="this.pdfUrlEnergia" *ngIf="this.pdfUrlEnergia !== ''" target="_blank" style="background-color: #035C67; color: white;" class="button">
                <mat-icon>tips_and_updates</mat-icon>
                <span>Energía</span>
              </a>
            </div>
            
          </mat-step>
          

        </div></div>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
